* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

.admin-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #1c1026;
  color: white;
}

.admin-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
   background: rgba(43, 15, 63, 0.75);
}

.admin-header h1 {
  font-size: 18px;
  color: #c084fc;
}

.admin-search {
  width: 250px;
  padding: 8px 12px;
  border-radius: 20px;
  border: none;
  outline: none;
}

.admin-user {
  font-size: 22px;
}

.admin-content {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}

.remover-card {
  background: linear-gradient(180deg, #3b1a57, #2a123f);
  padding: 35px;
  width: 420px;
  border-radius: 20px;
}

.remover-title {
  text-align: center;
  color: #a855f7;
  margin-bottom: 25px;
}

.remover-select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border-radius: 20px;
  border: none;
  background: #4b256d;
  color: white;
}

.remover-subtitle {
  font-size: 14px;
  margin-bottom: 10px;
  opacity: 0.9;
}

.remover-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 25px;
}

.pergunta-item {
  padding: 12px;
  border-radius: 20px;
  border: none;
  background: #e5e5e5;
  color: #333;
  cursor: pointer;
  text-align: left;
}

.pergunta-item.active {
  background: #7c3aed;
  color: white;
}

.remover-btn {
  width: 100%;
  padding: 14px;
  border-radius: 25px;
  border: none;
  background: linear-gradient(90deg, #7c3aed, #a855f7);
  color: white;
  font-size: 16px;
  cursor: pointer;
}