/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", "Segoe UI", Arial, sans-serif;
}

/* FUNDO GERAL */

.admin-container {
  width: 100vw;
  height: 100vh;
  background: radial-gradient(circle at top, #2a0d3f, #12051c);
  color: #fff;
  display: flex;
  flex-direction: column;
}

/* HEADER */

.admin-header {
  height: 64px;
  background: rgba(43, 15, 63, 0.75);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid rgba(255,255,255,0.05);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 28px;
}

.admin-header h1 {
  font-size: 18px;
  font-weight: 500;
  color: #d48cff;
  letter-spacing: 0.4px;
}

/* PESQUISA */

.admin-search input {
  width: 280px;
  height: 36px;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 0 16px;
  background: rgba(255,255,255,0.05);
  color: #fff;
  transition: 0.25s;
}

.admin-search input:focus {
  background: rgba(255,255,255,0.1);
  box-shadow: 0 0 0 2px #a855f7;
}

.admin-search input::placeholder {
  color: #caa6e6;
}

/* USUÁRIO */

.admin-user {
  width: 36px;
  height: 36px;
  background: linear-gradient(135deg, #a855f7, #7c3aed);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.25s;
}

.admin-user:hover {
  transform: scale(1.08);
  box-shadow: 0 0 12px rgba(168, 85, 247, 0.6);
}

/* CONTEÚDO */

.admin-content {
  flex: 1;
  padding: 30px;
  overflow-y: auto;
}

/* BANNER */

.admin-banner {
  width: 100%;
  background: rgba(255,255,255,0.05);
  backdrop-filter: blur(12px);
  border-radius: 16px;
  padding: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
  border: 1px solid rgba(255,255,255,0.06);
}

.admin-banner img {
  max-width: 530px;
  width: 100%;
}

/* TÍTULO */

.admin-title {
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #d48cff;
}

/* AÇÕES */

.admin-actions {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* ITEM */

.admin-action {
  display: flex;
  align-items: center;
  gap: 16px;
  background: rgba(255,255,255,0.05);
  padding: 19px 120px;
  border-radius: 14px;
  cursor: pointer;
  transition: all 0.25s ease;
  border: 1px solid rgba(255,255,255,0.05);
}

.admin-action:hover {
  transform: translateY(-3px);
  background: rgba(168, 85, 247, 0.15);
  border-color: rgba(168, 85, 247, 0.4);
}

.admin-action img {
  width: 35px;
  height: 35px;
}

.admin-action span {
  font-size: 16px;
  font-weight: 500;
}

/* AÇÃO PERIGOSA */

.admin-action.danger {
  background: rgba(255, 0, 100, 0.1);
  border-color: rgba(255, 0, 100, 0.3);
}

.admin-action.danger:hover {
  background: rgba(255, 0, 100, 0.2);
  transform: translateY(-3px);
}