/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* FUNDO GERAL */
.admin-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #1a0727, #2b0f3f);
  color: #fff;
  display: flex;
  flex-direction: column;
}


/* TOPO */
.admin-header {
  height: 60px;
  background: #2b0f3f;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.admin-header h1 {
  font-size: 18px;
  font-weight: 500;
  color: #d48cff;
}

/* PESQUISA */
.admin-search input {
  width: 260px;
  height: 32px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 0 14px;
  background: #3a1a52;
  color: #fff;
}

.admin-search input::placeholder {
  color: #caa6e6;
}

/* USUÁRIO */
.admin-user {
  width: 32px;
  height: 32px;
  background: #7b3fe4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* CONTEÚDO */
.admin-content {
  flex: 1;
  padding: 24px;
  overflow-y: auto;
}


/* BANNER */
.admin-banner {
  width: 100%;
  background: #4a256a;
  border-radius: 10px;
  padding: 25px;
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

.admin-banner img {
  max-width: 530px;
  width: 100%;
}

/* TÍTULO */
.admin-title {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #d48cff;
}

/* AÇÕES */
.admin-actions {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* ITEM */
.admin-action {
  display: flex;
  align-items: center;
  gap: 14px;
  background: #3a1a52;
  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.admin-action:hover {
  background: #4c2370;
}

.admin-action img {
  width: 28px;
  height: 28px;
}

.admin-action span {
  font-size: 15px;
}

/* AÇÃO PERIGOSA */
.admin-action.danger {
  background: #4b1230;
}

.admin-action.danger:hover {
  background: #6a1a42;
}
