.add-pergunta-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.add-pergunta-title {
  font-size: 32px;
  color: #c44cff;
}

.select-box {
  width: 320px;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(90deg, #ff00ff, #6a00ff);
  color: white;
  text-align: center;
}

.select-box.small {
  width: 250px;
}

.pergunta-box {
  width: 350px;
  background: #4c2a6d;
  padding: 15px;
  border-radius: 12px;
  text-align: center;
  color: white;
}

.pergunta-box textarea {
  width: 100%;
  height: 80px;
  margin-top: 10px;
  border-radius: 8px;
  border: none;
  padding: 10px;
}

.alternativas {
  display: flex;
  gap: 15px;
}

.alt-item {
  display: flex;
  align-items: center;
  gap: 5px;
}

.alt-item span {
  color: white;
  font-weight: bold;
}

.alt-item input {
  width: 70px;
  padding: 6px;
  border-radius: 10px;
  border: none;
}

.confirm-btn {
  width: 320px;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(90deg, #ff00ff, #6a00ff);
  color: white;
  cursor: pointer;
}
