/* RESET + TELA CHEIA */
html, body, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: "Segoe UI", Arial, sans-serif;
}

/* FUNDO GERAL */
.admin-container {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(180deg, #1a0727, #2b0f3f);
  display: flex;
  flex-direction: column;
  color: #fff;
}

/* HEADER */
.admin-header {
  height: 60px;
    background: rgba(43, 15, 63, 0.75);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
}

.admin-header h1 {
  font-size: 16px;
  font-weight: 500;
  color: #d48cff;
}

/* PESQUISA */
.admin-search input {
  width: 260px;
  height: 32px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 0 14px;
  background: #3a1a52;
  color: #fff;
}

.admin-search input::placeholder {
  color: #caa6e6;
}

/* USUÁRIO */
.admin-user {
  width: 32px;
  height: 32px;
  background: #7b3fe4;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* CONTEÚDO */
.admin-content {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 40px;
}

/* CARD PRINCIPAL */
.adicionar-card {
  width: 410px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

/* TÍTULO */
.adicionar-title {
  font-size: 45px;
  font-weight: 500;
  color: #b865ff;
  margin-bottom: 8px;
}

/* SELECTS */
.adicionar-select {
  width: 100%;
  height: 55px;
  border-radius: 22px;
  border: none;
  padding: 0 18px;
  background: #b34ae2;
  color: #fff;
  font-size: 20px;
  outline: none;
  appearance: none;
  text-align: center;
  cursor: pointer;
}

/* CARD SUBMATÉRIA */
.submateria-card {
  width: 100%;
  background: #4a256a;
  border-radius: 12px;
  padding: 20px;
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 7px;
}

/* TEXTO */
.submateria-title {
  font-size: 25px;
  color: #e6d6ff;
}

/* INPUT */
.submateria-card input {
  width: 100%;
  height: 40px;
  border-radius: 18px;
  border: none;
  outline: none;
  padding: 0 14px;
  background: #e5e5e5;
  color: #333;
}

/* BOTÃO */
.adicionar-btn {
  width: 140px;
  height: 40px;
  border-radius: 18px;
  border: none;
  background: #8f2eff;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  transition: 0.2s ease;
}

.adicionar-btn:hover {
  background: #a44bff;
}
