/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* CONTAINER GERAL */
.admin-container {
  min-height: 50vh;
  background: linear-gradient(180deg, #1a052d, #2b0a4a);
  color: #fff;
}

/* HEADER */
.admin-header {
  height: 60px;
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(0, 0, 0, 0.25);
}

.admin-header h1 {
  font-size: 18px;
  font-weight: 400;
  color: #c77dff;
}

.admin-search {
  width: 100px;
  height: 42px;
  border-radius: 20px;
  border: none;
  padding: 0 15px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  outline: none;
}

.admin-user {
  font-size: 20px;
  cursor: pointer;
}

/* CONTEÚDO */
.admin-content {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

/* CARD PRINCIPAL */
.adicionar-card {
  width: 520px;
  text-align: center;
}

/* TÍTULO */
.adicionar-title {
  font-size: 36px;
  font-weight: 500;
  color: #9d4edd;
  margin-bottom: 30px;
}

/* SELECTS */
.adicionar-select {
  width: 100%;
  height: 52px;
  border-radius: 30px;
  border: none;
  padding: 0 20px;
  margin-bottom: 18px;
  background: linear-gradient(135deg, #c77dff, #9d4edd);
  color: #fff;
  font-size: 20px;
  outline: none;
  appearance: none;
  cursor: pointer;
  text-align: center;
}

/* CARD SUBMATÉRIA */
.submateria-card {
  margin-top: 35px;
  padding: 30px 25px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 20px;
}

/* TEXTO */
.submateria-title {
  font-size: 18px;
  margin-bottom: 20px;
}

/* INPUT */
.submateria-card input {
  width: 100%;
  height: 46px;
  border-radius: 25px;
  border: none;
  padding: 0 18px;
  background: #46046d;
  outline: none;
  font-size: 18px;
  margin-bottom: 20px;
}

/* BOTÃO */
.adicionar-btn {
  width: 180px;
  height: 42px;
  border-radius: 25px;
  border: none;
  background: #8012da;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

.adicionar-btn:hover {
  opacity: 0.85;
}
