.add-materia-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}

.add-materia-title {
  font-size: 34px;
  color: #c44cff;
}

.materia-select {
  width: 350px;
  padding: 14px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(90deg, #ff00ff, #6a00ff);
  color: white;
  text-align: center;
}

.materia-card {
  width: 400px;
  background: #4c2a6d;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.materia-card input {
  padding: 12px;
  border-radius: 20px;
  border: none;
  background: #ddd;
}

.materia-btn {
  padding: 12px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(90deg, #ff00ff, #6a00ff);
  color: white;
  cursor: pointer;
}
