* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

/* PAGE FULLSCREEN */

.page {
  min-height: 100vh;
  width: 100%;
  background: #2b0d3a;
  display: flex;
  flex-direction: column;
  color: white;
}

/* HEADER */

.header {
  height: 70px;
  width: 100%;
  background: #3a1450;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.logo {
  font-size: 14px;
}

.search {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #4b1c63;
  padding: 6px 15px;
  border-radius: 20px;
}

.search input {
  border: none;
  background: transparent;
  outline: none;
  color: white;
}

.profile {
  font-size: 18px;
}

/* MAIN FULL CENTER */

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 40px;
}

/* TITULO */

.title {
  font-size: 48px;
  color: #c03cff;
  margin-bottom: 25px;
}

/* BOX */

.box {
  background: #4b2b5c;
  padding: 20px 40px;
  border-radius: 12px;
  margin-bottom: 20px;
}

/* SEARCH ID */

.search-id {
  display: flex;
  gap: 10px;
  margin-bottom: 25px;
}

.search-id input {
  background: #4b2b5c;
  border: none;
  border-radius: 25px;
  padding: 10px 20px;
  color: white;
  width: 220px;
}

.search-id button {
  border: none;
  border-radius: 50%;
  width: 40px;
  cursor: pointer;
  background: #4b2b5c;
  color: white;
}

/* USER CARD */

.user-card {
  width: 380px;
  background: linear-gradient(90deg, #a100ff, #d24dff);
  padding: 15px 20px;
  border-radius: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 35px;
}

.user-card img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

/* SUBTITLE */

.subtitle {
  color: #b043ff;
  margin-bottom: 15px;
}

/* LIST */

.list {
  width: 380px;
  background: #5d2b82;
  border-radius: 12px;
  overflow: hidden;
}

.item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px 20px;
}

.item img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.divider {
  height: 4px;
  background: #cbb3d9;
  width: 100%;
}