body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  background: radial-gradient(circle at top, #2a0d3f, #12051c);
  min-height: 100vh;
  color: white;
}

.header {
  height: 65px;
    background: rgba(43, 15, 63, 0.75);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.logo {
  color: #d8a8ff;
  font-size: 18px;
  font-weight: 500;
}

.header-search {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-search input {
  width: 420px;
  height: 38px;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 0 20px;
  background: #4c1d6e;
  color: #fff;
  font-size: 14px;
}

.profile-icon {
  width: 42px;
  height: 42px;
  background: #6a1fb5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2d004d;
  font-size: 18px;
}

.main {
  padding: 50px;
  text-align: center;
}

.title {
  color: #b42bff;
  font-size: 42px;
  margin-bottom: 30px;
}

.info-box {
  background: #3f2b4e;
  padding: 20px;
  border-radius: 12px;
  width: 420px;
  margin: auto;
  margin-bottom: 25px;
  font-size: 18px;
}

.search-id {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.search-id input {
  padding: 12px;
  border-radius: 25px;
  border: none;
  width: 220px;
  margin-right: 10px;
  background: #4c1d6e;
  color: white;
}

.search-id button {
  border: none;
  border-radius: 50%;
  padding: 12px;
  cursor: pointer;
  background: #6a1fb5;
  color: white;
}

.user-card {
  width: 420px;
  margin: auto;
  background: linear-gradient(90deg, #9c00ff, #ff00cc);
  padding: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user-card img {
  width: 70px;
  height: 70px;
  border-radius: 12px;
}

.user-text {
  text-align: left;
}

.subtitle {
  margin-top: 40px;
  color: #b42bff;
  font-size: 22px;
}

.dm-box {
  width: 420px;
  margin: auto;
  margin-top: 20px;
  background: #6a3a94;
  border-radius: 20px;
  padding: 15px;
}

.dm-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 12px;
}

.dm-item img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.dm-divider {
  height: 6px;
  background: #d9d9d9;
  border-radius: 20px;
  margin: 5px 0;
}