.denuncias-page {
  display: flex;
  justify-content: center;
}

.denuncias-card {
  width: 420px;
  background: #4c2a6d;
  border-radius: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.denuncias-title {
  text-align: center;
  font-size: 32px;
  color: #c44cff;
}

.denuncia-item {
  background: #6a3c94;
  padding: 12px;
  border-radius: 12px;
}

.denuncia-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #ff00ff, #6908aa);
  padding: 4px;
  border-radius: 12px;
}

.denuncia-top div {
  background: #3a1f52;
  padding: 10px;
  border-radius: 10px;
  color: white;
  flex: 1;
}

.denuncia-top img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin: 5px;
}

.denuncia-motivo {
  margin-top: 8px;
  color: white;
  text-align: center;
}

.denuncia-btn {
  margin-top: 10px;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(90deg, #ff00ff, #8c00ff);
  color: white;
  cursor: pointer;
}
