body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.page {
  background: #2c0f3a;
  min-height: 100vh;
  color: white;
}

.header {
  height: 65px;
   background: rgba(43, 15, 63, 0.75);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
}

.logo {
  color: #d8a8ff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
}

.header-search {
  flex: 1;
  display: flex;
  justify-content: center;
}

.header-search input {
  width: 420px;
  height: 38px;
  border-radius: 25px;
  border: none;
  outline: none;
  padding: 0 20px;
  background: #4c1d6e;
  color: #fff;
  font-size: 14px;
}

.profile-icon {
  width: 42px;
  height: 42px;
  background: #6a1fb5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2d004d;
  font-size: 18px;
  cursor: pointer;
}

.materiais-page {
  padding: 60px;
  text-align: center;
}

.materiais-title {
  color: #b42bff;
  font-size: 40px;
  margin-bottom: 50px;
}

.materiais-actions {
  display: flex;
  justify-content: center;
  gap: 60px;
}

.materiais-card {
  width: 200px;
  height: 200px;
  background: #6a3a94;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.materiais-card:hover {
  transform: translateY(-6px);
  background: #7a47a8;
}

.materiais-card img {
  width: 80px;
}

.materiais-card span {
  font-size: 16px;
  font-weight: 500;
}