.editar-perguntas-page {
  display: flex;
  justify-content: center;
}

.editar-card {
  width: 500px;
  background: #4c2a6d;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.editar-title {
  font-size: 45px;
  color: #c44cff;
}

.editar-select {
  padding: 18px;
  border-radius: 20px;
  border: none;
  background: #6a3c94;
  color: white;
  font-size: 15px;
}

.editar-select.small {
  width: 70%;
  align-self: center;
}

.editar-subtitle {
  color: white;
}

.editar-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.editar-list input {
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #8805f3;
}

.editar-btn {
  margin-top: 15px;
  padding: 12px;
  border-radius: 20px;
  border: none;
  background: linear-gradient(90deg, #ff00ff, #9900ff);
  color: white;
  cursor: pointer;
}
